<% if @user.collections.any? %>
<ul>
	<% @collections.each do |collection| %>
		<li>
			<%= collection.book.title %>
			<%= collection.book.author %>
		</li>
	<% end %>
</ul>
<% else %>
	<h5>Visit our <%= link_to 'Library', books_path %>, Browse & Add books to your Collection.</h5>
<% end %>