<h1>Welcome to Library</h1>

<ol class='book-list'>
<% @books.each do |book| %>
    <li><%= link_to book.title, book %> Written by <%= book.author %>
    	<% if @user.collections.where(book_id: book.id).exists? %>
    	<span> -- already in your collection.</span>
    	<% end %>
    </li>
<% end %>
</ol>
<br />

Book not found? You can Add <%= link_to 'New Book', new_book_path %>
