<h4><%= @book.title %></h4>
<p>Written by <%= @book.author %></p>
<% if signed_in? %>
	<% if !current_user.collections.where(book_id: @book.id).exists? %>
	<%= button_to 'Add to My Collection', collections_path(book_id: @book), class: 'btn btn-primary btn-small' %>
	<% else %>
		<%= button_to 'Remove from My Collection', collections_path, method: :delete, confirm: 'Are You Sure?', class: 'btn btn-warning btn-small' %>
	<% end %>
<% end %>