@import 'bootstrap';

/* colors */
$lightGray: #999;

/* universal */
.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

body {
	padding-top: 60px;
}

/* header */
#logo {
	float: left;
	padding-top: 10px;
	color: #fff;
	font-size: 1.7em;
	font-weight: bolder;

	&:hover {
		text-decoration: none;
	}
}

/* footer */
.footer {
	margin-top: 45px;
	border-top: 1px solid #eaeaea;
	padding-top: 10px;
	color: $lightGray;
}

/* user profile */

aside {
	section {
		padding: 10px 0px;
		border-top: 1px solid $grayLighter;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar {
	img {
		float: left;
		margin-right: 10px;
	}
}

/* books */
.book-list {
	li {
			border-top: 1px solid $lightGray;
			&:last-child {
				border-bottom: 1px solid $lightGray;
		}
		a {
			text-decoration: none;
			color: #117ac2;
			&:hover {
				color: white;
				text-decoration: none;
			}
		}
	}

	span {
		color: rgba(44,44,44,0.6);
	}
}

.book-cover {
	width: 200px;
	height: 200px;
}